  
        body {
            font-family: 'Arial', sans-serif;
            background: linear-gradient(to right, rgb(253 249 255), rgb(232 214 241));
        }

        h2 {
            padding-left: 122px;
            margin: 20px 0 20px 117px;
        }

        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
            margin: 20px auto;
            max-width: 800px;
            border-radius: 10px;
            overflow: hidden;
            background-color: white;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
        }

        th, td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
            vertical-align: middle;
        }

        th {
            background-color: #9E7FAF;
            color: white;
        }

        tr:hover {
            background-color: #f1f1f1;
        }

        .action-btn {
            background-color: #4CAF50;
            color: white;
            padding: 5px 10px;
            border: none;
            text-decoration: none; /* Remove sublinhado dos links. */
            display: inline-block; /* Permite definir padding e margem. */
            border-radius: 3px; /* Pequeno arredondamento para os botões de ação. */
        }
        .action-btn:hover {
            background-color: #45a049;
        }

        .delete-btn {
            background-color: #f44336;
        }

        .delete-btn:hover {
            background-color: #da190b;
        }

        .show-btn {
            background-color: #2196F3;
        }

        .show-btn:hover {
            background-color: #0b7dda;
        }

        img {
            max-width: 100px;
            height: auto;
            border-radius: 5px;
        }

        .botoes-linha {
            display: flex;
            gap: 10px;
            margin-top: 20px;
            justify-content: center;
            flex-wrap: wrap;
        }

        .botao-link {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px 0;
            background-color: #9E7FAF;
            color: white;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
        }

        .botao-link:hover {
            background-color: #7e5f90;
        }

        
        .scroll-btn {
            position: fixed;
            bottom: 20px;
            z-index: 1000;
            background-color: #9E7FAF;
            color: white;
            border: none;
            padding: 15px 25px;
            width: auto;        
            border-radius: 30px;
            border-radius: 50%;
            font-size: 30px;
            cursor: pointer;
            box-shadow: 0 2px 5px rgba(0,0,0,0.3);
            transition: background-color 0.3s;
        }

        .scroll-btn:hover {
            background-color: #7e5f90;
        }

        #scrollToTopBtn {
            right: 90px;
        }

        #scrollToBottomBtn {
            right: 20px;
        }

    
    
